#ui_wrapper
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr;

}

#page_title
{
    text-align: center;
}

#worldmap_wrapper
{
    width: 100%;
    background-color: #eaeaea;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#worldmap_wrapper > *
{
    display: block;
    overflow: scroll;;
}

#worldmap{
    width: 100%;
    height: 100%;
}