#ui_wrapper
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr max-content;
    justify-items: center;
}

#worldmap_title
{
    text-align: center;
    margin: 0 auto;
    z-index: 999;
    pointer-events: none;
    font-size: 3.4rem;
}

svg#worldmap_title
{
    font   : 6rem Century Gothic, Arial;
    width  : 100%;
    height : 120px;
}

svg#worldmap_title text{
    fill            : black;
    stroke          : white;
    stroke-width    : .5px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
}

#worldmap_wrapper
{
    width: 100%;
    background-color: #eaeaea;
    margin: 0 auto;
    display: grid;    
}

#worldmap_wrapper > *
{
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
}

#worldmap{
    width: 100%;
    height: 100%;
}

path {
    stroke: rgb(151, 151, 151);
    stroke-width: 1px;
}

#legend{
    margin: 0 auto;
}

#worldmap_footer{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    padding: 8px;
}

.slider_year{
    min-width: 600px;
    max-width: 600px;
}

#div_slider{
    min-width: 600px;
    max-width: 600px;
}




.irs-grid-text, .irs-min, .irs-max{
    font-size: 12px !important;
}




.tooltip {
    position: absolute;
    display: grid;
    grid-gap: 8px;
    grid-column-gap: 32px;
    grid-template-columns: 1fr max-content;
    grid-template-areas:    "title    title"
                            "subtitle subtitle"
                            "line     line"
                            "etc1     ."
                            "etc2     ."
                            "etc3     ."
                            "avgAge   pyrBtn";

    align-items: center;
    min-width: 80px;
    background:#ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    max-width: 400px;
    max-height: 350px;
    overflow-y: scroll;
  }

.tooltipTitle{
    font-size: 1.6rem;
    min-width: 250px;
    text-align: center;
}

.tooltipSubTitle{
    font-size: 1.2rem;
    color:rgb(50, 50, 50);
    text-align: left;
    margin-top: 12px;
    margin-bottom: 8px;
}

.tooltipText{
    font-size: 1rem;
    color:rgb(50, 50, 50);
    text-align: left;
    /* margin: 4px 0 4px 0; */
}

.tooltipBtn{
    display: flex;
    justify-self: center;
    align-self: center;
}

.col1{
    grid-column: 1;
}

.col2{
    grid-column: 2;
}

.row1{
    grid-row: 1;
}

.row2{
    grid-row: 2;
}

tooltip:nth-child(3) {
    background: #eee;
    display: flex;
    justify-content: flex-end;
  }

.topnav{
    width: 100%;
}


/* nice button */
.button {
    align-items: center;
    appearance: button;
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 6px 14px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button:active {
    background-color: #006AE8;
}

.button:hover {
    background-color: #2787fc;
}


/* tooltip line chart */
.linechart .axis text{
    fill: #6b6b6b;
}


/* slider style modification */
.irs--flat .irs-handle > i:first-child {
    width: 18px;
    border-radius: 10px;
    left: 0;
}

.irs--flat .irs-bar{
    background-color: transparent;
}