#ui_wrapper
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr max-content;
    justify-items: center;
}

#page_title
{
    text-align: center;
}

#worldmap_wrapper
{
    width: 100%;
    background-color: #eaeaea;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#worldmap_wrapper > *
{
    display: block;
    overflow: scroll;;
}

#worldmap{
    width: 100%;
    height: 100%;
}

path {
    stroke: rgb(151, 151, 151);
    stroke-width: 1px;
}

#legend{
    margin: 0 auto;
}

#worldmap_footer{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    padding: 8px;
}

.slider_year{
    min-width: 600px;
    max-width: 600px;
}

#div_slider{
    min-width: 600px;
    max-width: 600px;
}




.irs-grid-text, .irs-min, .irs-max{
    font-size: 12px !important;
}
