#ui_wrapper
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content 1fr max-content;
    justify-items: center;
}

#worldmap_title
{
    text-align: center;
    margin: 0 auto;
    z-index: 999;
    pointer-events: none;
    font-size: 3.4rem;
}

svg#worldmap_title
{
    font   : 6rem Century Gothic, Arial;
    width  : 100%;
    height : 120px;
}

svg#worldmap_title text{
    fill            : black;
    stroke          : white;
    stroke-width    : .5px;
    stroke-linejoin : round;
    animation       : 2s pulsate infinite;
}

#worldmap_wrapper
{
    width: 100%;
    background-color: #eaeaea;
    margin: 0 auto;
    display: grid;    
}

#worldmap_wrapper > *
{
    display: inline-block;
    grid-column: 1;
    grid-row: 1;
}

#worldmap{
    width: 100%;
    height: 100%;
}

path {
    stroke: rgb(151, 151, 151);
    stroke-width: 1px;
}

#legend{
    margin: 0 auto;
}

#worldmap_footer{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    padding: 8px;
}

.slider_year{
    min-width: 600px;
    max-width: 600px;
}

#div_slider{
    min-width: 600px;
    max-width: 600px;
}




.irs-grid-text, .irs-min, .irs-max{
    font-size: 12px !important;
}




.tooltip {
    position: absolute;
    display: inline-block;
    min-width: 80px;
    background:#ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    border-radius: 10px;
    box-shadow: 2px 2px #888888;
    
  }

.tooltipTitle{
    font-size: 1.6rem;
    min-width: 250px;
    text-align: center;
}

.tooltipSubTitle{
    font-size: 1.2rem;
    color:rgb(50, 50, 50);
    text-align: left;
    margin-top: 12px;
    margin-bottom: 8px;
}

.tooltipText{
    font-size: 1rem;
    color:rgb(50, 50, 50);
    text-align: left;
    margin: 4px 0 4px 0;
}

.topnav{
    width: 100%;
}